:root {
  --color-primary: #18181b;
  --color-secondary: #2b7fff;
  --color-tertiary: #e0e0e0;
  --color-quinary: #62748e;
  --color-red: #f44336;
  --color-green: #4caf50;
  --color-yellow: #ff9800;

  --color-white: #fff;
  --color-black: #000;
}
