@use '../mixins/rem' as *;

.section__heading {
    display: flex;
    align-items: center;
    gap: rem(16);
}

.container {
    max-width: 1240px;
    margin: 0 auto;

    main & {
        padding-top: rem(40);
        padding-bottom: rem(40);
    }

    &--padded {
        padding-left: rem(20);
        padding-right: rem(20);

        @media (min-width: 1024px) {
            padding-left: rem(40);
            padding-right: rem(40);
        }
    }
}