@use "../mixins/rem" as *;

.section__heading {
  align-items: center;
  display: flex;
  gap: rem(16);
}

.container {
  max-width: 1240px;
  margin: 0 auto;

  &--margin {
    margin-bottom: rem(20);
    margin-top: rem(20);

    @media (min-width: 1024px) {
      margin-bottom: rem(40);
      margin-top: rem(40);
    }
  }
}
