@use "../mixins/rem" as *;

.dialog {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;

  .dialog__content {
    background-color: var(--color-white);
    border-radius: rem(4);
    max-width: 400px;
    padding: rem(24);
    width: 100%;
  }

  .dialog__actions {
    display: flex;
    gap: rem(12);
    justify-content: flex-end;
    margin-top: rem(24);
  }
}
