@use '../mixins/rem' as *;

.login-form {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;

    form {
        display: flex;
        flex-direction: column;
        width: 400px;
        padding: rem(20);
        border-radius: rem(10);
        background-color: #f8f9fb;
        border: 1px solid var(--color-tertiary);

        .icon--lock {
            align-self: center;
            margin-bottom: rem(16);
        }

        h2 {
            align-self: center;
            font-size: rem(24);
            font-weight: 400;
            color: var(--color-primary);
            margin: 0;
        }

        div {
            display: flex;
            flex-direction: column;
            gap: rem(10);
            margin-top: rem(16);
        }


        label {
            font-size: rem(14);
            font-weight: 400;
            color: var(--color-primary);
        }

        input {
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: rem(10);
            margin-bottom: rem(10);
            line-height: 1.25;

            &::placeholder {
                color: #90a2b9;
            }
        }

        button {
            margin-top: rem(24);

        }
    }

    .icon--spinner {
        path {
            fill: var(--color-white);
        }
    }
}                                   