@use "../mixins/rem" as *;

.nav {
  display: flex;
  justify-content: center;

  &__list {
    display: flex;
    gap: rem(24);
    list-style: none;
    margin: 0;
    padding: 0 rem(12) rem(12);
  }

  &__item {
    position: relative;
    transition: transform 0.3s ease;

    button {
      color: #7a7a7a;
      font-size: rem(18);
      text-decoration: none;
    }

    &:not(.is-active) {
      &:hover {
        transform: translateY(-2px);

        button {
          color: var(--color-primary);
        }
      }
    }

    &.is-active {
      button {
        color: var(--color-primary);
      }

      &:after {
        background: var(--color-secondary);
        border-radius: 9999px;
        bottom: -6px;
        content: " ";
        display: inline-block;
        height: 5px;
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        width: 15px;
      }
    }
  }
}
