@use "../mixins/rem" as *;

.parking-space {
  display: grid;
  gap: rem(10);

  @media (min-width: 1024px) {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  h4 {
    align-items: center;
    display: flex;
    gap: rem(10);
  }

  &__column {
    border-radius: rem(5);
    border: 1px solid var(--color-tertiary);
    box-shadow: none;
    flex-grow: 1;
    padding: rem(20);
    transform: translateY(0);
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;

    &:hover {
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
      transform: translateY(-5px);
    }
  }

  &__info {
    display: flex;
    gap: rem(20);

    p {
      span {
        font-weight: 600;
      }
    }
  }

  &__bar {
    background-color: var(--color-tertiary);
    border-radius: rem(5);
    height: 10px;

    &-fill {
      background-color: var(--color-secondary);
    }
  }
}
