@use "../mixins/rem" as *;

.parking-building {
  details {
    border: none;
    border-bottom: 1px solid var(--color-tertiary);
    padding-bottom: rem(16);

    summary {
      align-items: center;
      cursor: pointer;
      display: flex;
      justify-content: space-between;

      h2 {
        align-items: center;
        display: flex;
        gap: rem(12);

        span {
          color: var(--color-secondary);
          font-size: rem(14);
          font-style: italic;
        }
      }
    }
    & > section {
      border-radius: rem(5);
      padding: rem(20);
    }
  }
}
