@use '../mixins/rem' as *;

.session-list {
    details {
        border: none;
        border-bottom: 1px solid var(--color-tertiary);
        padding: rem(10);
        background-color: none;
        transition: background-color 0.3s ease-in-out;
        cursor: pointer;

        &:not([open]) {
            &:hover {
                background-color: var(--color-tertiary);
            }
        }

        summary {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: rem(24);

            .icon--chevron {
                margin-left: auto;
            }

            h3 {
                font-size: rem(16);
                font-weight: 600;
            }
        }
    }
    
    &__empty {
        text-align: center;
        padding: rem(32);
        background-color: var(--color-tertiary);
        border-radius: rem(4);
    }
    
    &__actions {
        margin-top: rem(16);
    }
}
