@use "../mixins/rem" as *;

.session-overview {
  &__actions {
    align-items: center;
    display: flex;
    gap: rem(8);
  }

  &__filter-toggle {
    display: flex;
    justify-content: flex-end;
  }

  &__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  &__view-toggle {
    border-radius: rem(8);
    border: 1px solid var(--color-tertiary);
    display: flex;

    button {
      background: none;
      border-radius: rem(8) 0 0 rem(8);
      border: none;
      cursor: pointer;
      padding: rem(8) rem(12);

      &.active {
        background-color: var(--color-secondary);

        svg {
          path {
            fill: var(--color-white);
          }
        }
      }

      &:hover {
        background-color: var(--color-tertiary);
      }

      &:active {
        background-color: var(--color-secondary);
      }

      &:last-child {
        border-radius: 0 rem(8) rem(8) 0;
      }
    }
  }

  &__loading {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: rem(24);
  }
}
