.session-filters {
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #eee;
    border-radius: 4px;

    &.active {
        padding: 40px;
        height: auto;
        visibility: visible;
        opacity: 1;
    }
    form {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 1rem;
    }
    .filter-actions {
        display: flex;
        grid-column: 1 / 1;
        margin-top: 0.5rem;
    }

    /* When filters are hidden */
    &:not(.active) {
        display: none;
    }
}


