@use "../mixins/rem" as *;

.badge {
  background-color: var(--color-primary);
  border-radius: rem(5);
  color: var(--color-white);
  font-size: rem(8);
  font-weight: 700;
  padding: rem(5) rem(10);
  text-transform: uppercase;

  &--warning {
    background-color: var(--color-yellow);
  }

  &--success {
    background-color: var(--color-green);
  }

  &--danger {
    background-color: var(--color-red);
  }
}
