@use '../mixins/rem' as *;

.badge {
    padding: rem(5) rem(10);
    border-radius: rem(5);
    font-size: rem(8);
    font-weight: 700;
    color: var(--color-white);
    background-color: var(--color-primary);
    text-transform: uppercase;

    &--warning {
        background-color: var(--color-yellow);
    }

    &--success {
        background-color: var(--color-green);
    }

    &--danger {
        background-color: var(--color-red);
    }
}
