@use "../mixins/rem" as *;

.btn {
  border-radius: rem(4);
  border: none;
  cursor: pointer;
  padding: rem(8) rem(16);
  transition: background-color 0.3s ease;

  &:disabled {
    background-color: #e0e0e0;
    cursor: not-allowed;
  }

  &--primary {
    background-color: var(--color-secondary);
    color: var(--color-white);
    transition: all 0.3s ease;

    &:hover {
      background-color: var(--color-quinary);
    }
  }

  &--secondary {
    background-color: var(--color-white);
    color: var(--color-primary);
    border: 1px solid var(--color-primary);

    &:hover {
      background-color: var(--color-tertiary);
    }
  }

  &--abort {
    background-color: var(--color-red);
    color: var(--color-white);

    &:hover {
      background-color: rgba(var(--color-red), 0.7);
    }
  }

  &--link {
    background-color: transparent;
    border: none;
    color: var(--color-primary);
    cursor: pointer;
    padding: 0;
  }

  &--icon {
    align-items: center;
    display: flex;
    gap: rem(8);
  }
}
