.icon {
    &--spinner {
        animation: spinner 1.7s ease-in-out infinite;
    }
}

details {
    .icon--chevron {
        transition: transform 0.3s ease-in-out;
    }
    &[open] {
        .icon--chevron {
            transform: rotate(180deg);
        }
    }
}